.sign-in, .sign-up {
  width: 40%;
  margin: 50px auto;
  padding: 40px;

  &--text {
    color: var(--white);
  }
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  background: var(--background);

  &--circle {
    width: 30vw;
    height: 30vw;
    position: absolute;
    bottom: -100px;
    left: calc(35vw);
    background: var(--main);
    border-radius: 50%;
  }
}