.menu {
  width: 30vw;
  height: 100vh;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-right: solid 5px var(--orange);

  &--list {
    max-height: calc(100vh - 200px);
    overflow: scroll;
    margin-top: 20px;
  }

  &--new {
    width: 100%;
    height: 100px;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: solid 1px var(--grey);
  }

  &--drum {
    
    &:hover {
      background: hsla(211, 100%, 50%, .1);
      cursor: pointer;
    }
  }
}