html, body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.drummer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.inventory {
  width: 33vw;
  height: 150vh;
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  background: var(--main);
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  transform: translateX(100%);

  &::before {
    content: '';
    width: 30px;
    height: 50px;
    position: absolute;
    top: calc(50vh - 25px);
    left: -30px;
    background: var(--main);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }

  &--title {
    margin: 40px 0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark);
  }

  &--list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 10px;
  }

  &--sound {
    height: 100px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;

    &-image {
      height: 70%;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &.selected {
      box-shadow: inset 0px 0px 40px 0px rgba(0,255,0,.5);
    }

    &-label {
      margin-top: 5px;
      font-family: 'Avenir Next', sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: var(--light);
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.settings {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.flex {
  display: flex;
}